<style>
    h1,section {text-align: center;}
    table td, table th, label {padding: 15px;}
    th {border-bottom: 1px solid black;}
    label {font-weight: bold;font-size: 20px;color: darkgray;width: 50%;}
    section {padding-left: 150px;padding-right: 150px;margin-bottom: 100px;}
    .odd {background-color: lightgrey;}
    table {margin: 0 auto;}
    .results-entry {margin-bottom: 40px;}
</style>

<h1>Carver memory profiling results</h1>

<section>
  <h2>Controllers</h2>

  <% @controller_results.each do |key, values| %>
      <div class="results-entry">
        <label><%= key %></label>

        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Allocated memory (MB)</th>
            <th>Retained memory (MB)</th>
          </tr>
          </thead>
          <tbody>
          <% values.each_with_index do |value, index| %>
              <tr class="<%= index.even? ? 'even' : 'odd' %>">
                <td><%= "##{index+1}" %></td>
                <td><%= value[:total_allocated_memsize] %></td>
                <td><%= value[:total_retained_memsize] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</section>

<section>
  <h2>Jobs</h2>

  <% @job_results.each do |key, values| %>
      <div class="results-entry">
        <label><%= key %></label>

        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Allocated memory (MB)</th>
            <th>Retained memory (MB)</th>
          </tr>
          </thead>
          <tbody>
          <% values.each_with_index do |value, index| %>
              <tr class="<%= index.even? ? 'even' : 'odd' %>">
                <td><%= "##{index+1}" %></td>
                <td><%= value[:total_allocated_memsize] %></td>
                <td><%= value[:total_retained_memsize] %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
</section>
